extends layout

block content
    .container
        h3 Home Page
        p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis nihil aliquam tempora voluptatem deserunt ducimus quae doloribus cum, eum enim corrupti numquam facere quaerat fugiat animi reprehenderit, velit maiores perspiciatis?
        //- pre=h.dump(locals) //- useful for debugging